@model IEnumerable<KayitProgrami.Models.IzinTalebi>


@{
    ViewData["Title"] = "Requests";
}

<h1>@ViewData["Title"]</h1>
<br />
<form method="get" action="/IzinTalebi/AdminIndex">
    <div>
        <label><input name="Status" value="Pending" type="radio" onchange="this.form.submit()" @(ViewBag.SelectedStatus == "Pending" ? "checked" : "") /> Pending</label>
        <label><input name="Status" value="Accepted" type="radio" onchange="this.form.submit()" @(ViewBag.SelectedStatus == "Accepted" ? "checked" : "") /> Accepted</label>
        <label><input name="Status" value="Rejected" type="radio" onchange="this.form.submit()" @(ViewBag.SelectedStatus == "Rejected" ? "checked" : "") /> Rejected</label>
    </div>
</form>
@if (Model.Any())
{  
    <table class="table">
     
        <thead>
            <tr>
                @* <th>@Html.DisplayNameFor(model => model.First().KullaniciAdi)</th>
                <th>@Html.DisplayNameFor(model => model.First().IzinTarihiBaslangic)</th>
                <th>@Html.DisplayNameFor(model => model.First().IzinTarihiBitis)</th>
                <th>@Html.DisplayNameFor(model => model.First().Aciklama)</th> 
                <th>@Html.DisplayNameFor(model=>model.First().Status)</th> *@
                <th>Username</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Description</th>
                <th>Remaining Day</th>
                <th>Status</th>
                <th>Status Decision</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.KullaniciAdi</td>
                    <td>@item.IzinTarihiBaslangic.ToShortDateString()</td>
                    <td>@item.IzinTarihiBitis.ToShortDateString()</td>
                    <td>@item.Aciklama</td>
                    <td>@item.AnnualLeave</td>
                    <td>
                        @if (item.Status == RequestStatus.Pending)
                        {
                            <b><span style="color: darkorange;">Pending</span></b>
                        }
                        else if (item.Status == RequestStatus.Accepted)
                        {
                          <b><span style="color: mediumseagreen;">Accepted</span></b>  
                        }
                        else if (item.Status == RequestStatus.Rejected)
                        {
                          <b><span style="color: red;">Rejected</span></b>  
                        }
                    </td>
                    <td>  @if (item.Status == RequestStatus.Pending)
                        {
                            <form  asp-controller="IzinTalebi" asp-action="Accept" asp-route-id="@item.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-success">Accept</button>

                            </form>
                            <form asp-action="Reject" asp-route-id="@item.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-warning">Reject</button>
                            </form>
                        }
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


